app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ef5350;
  text-align: center;
  color: white;
  max-height: 30px;
}

.icons {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
