<div class="container">
  <div><a href="#"><img src="../../../assets/imgs/poke-logo.png" alt="" class="pkmn-logo"></a></div>
  <div class="search"><input [(ngModel)]="searchInput" type="text" placeholder="Search by {{srchopt}}"
      class="search-bar"></div>
  <div class="search-options">
    <ul ng-repeat="item in arr">
      <li><a (click)="changePlaceholder('name')">Name</a></li>
      <li><a (click)="changePlaceholder('number')">Number</a></li>
      <li><a (click)="changePlaceholder('type')">Type</a></li>
      <li><a (click)="changePlaceholder('color')">Color</a></li>
      <li><a (click)="changePlaceholder('region')">Region</a></li>
    </ul>
  </div>
</div>
