<div class="container">
  <div><a href="#"><img src="../../../assets/imgs/poke-logo.png" alt="" class="pkmn-logo"></a></div>
  <div class="search"><input [(ngModel)]="searchInput" type="text" placeholder="Search by {{srchopt}}"
      class="search-bar">
    <button class="search-btn" (click)="sendConsulta()"><img src="../../../assets/imgs/pokeball.png" alt=""></button>
  </div>
  <div class="search-options">
    <ul ng-repeat="item in arr">
      <li><a (click)="changePlaceholder('name. Ex.: rattata')">Name</a></li>
      <li><a (click)="changePlaceholder('number. Ex.: 101')">Number</a></li>
    </ul>
  </div>
</div>
